body {
    font-family: 'Montserrat', sans-serif;
}

.padding-site {
    padding-left: 58px;
    padding-right: 58px;
}

.header {
    background-color: #c6c6c6;
    height: 150px;
    position: relative;
}

.container {
    background-color: brown;
}

.footer {
    background-color: cadetblue;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 172px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background-color: #212121;
    color: #ffffff;
}

.countdown-timer {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 172px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}